alembic==1.10.2
bcrypt==3.2.0
click==8.0.3
Flask==2.2.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
Flask-Migrate==4.0.4
Flask-BasicAuth==0.2.0
itsdangerous==2.1.2
Jinja2==3.0.3
MarkupSafe==2.1.2
SQLAlchemy==2.0.4
Werkzeug==2.2.3
WTForms==3.0.1
