{% extends "base.html" %}

{% block content %}

<br/>
<h3 class="text-secondary">Über die Liga</h3>

<div class="p-4" style="text-align: justify">
    Die <b>Ganz Wilde Kicker Liga Bremen und umzu</b> ist der Versuch die <b><a
    class="link-primary" href="https://wildekickerligabremen.wordpress.com/">
    Wilde Kicker Liga Bremen</a></b> wiederzubeleben. Die Idee ist an die
    früher bestehende Wilde Liga anzuknüpfen.
    <br>
    <br>

    Hierzu soll diese Web-Anwendung benutzt werden, um den Spielbetrieb
    "automatisiert" abzuwickeln (Teams anmelden, Ergebnisse eintragen, Tabelle
    berechnen).
    Diese Seite soll genau das tun -- Teams anmelden, Ergebnisse eintragen und eine Tabelle berechnen -- und keine Kommunikationsplattform sein!
    Die Kommunikation der Liga sollte über andere Wege (vorerst einfach E-Mails) laufen.

    <br/>
    <br/>

    Jedes Team das sich angemeldet hat, kann unter dem Menü-Punkt "Teams" sich
    die Kontakt-Daten der anderen Teams anzeigen lassen. Außerdem kann jedes
    Team Spielergebnisse von Heimspielen eintragen (und zur Not auch wieder
    löschen).

    <br/>
    <br/>

    Bei Problemen mit dieser Seite schickt bitte eine E-Mail an: wklbtool(at)gmail(punkt)com

</div>

{% endblock %}
