{% extends "base.html" %}

{% block content %}

<br/>
<h3 class="text-secondary">Manifest / Regeln</h3>

<div class="p-4" style="text-align: justify">
(dies ist im Großen und Ganzen eine Kopie von dem
<a class="link-primary"
   href="https://wildekickerligabremen.wordpress.com/manifest/">"alten
    Manifest"</a>)<br><br>

<ol>
    <li>Alle dürfen ein Team für die Liga melden. Es muss pro Team ein(e)
        KoordinatorIn/AnsprechpartnerIn fest stehen. Ansonsten ist jedes Team
        offen. Es könnten also ständig SpielerInnen dazu kommen und gehen,
        es wird sich aber bestimmt herausstellen, dass eine gewisse
        Kontinuität sehr spaßförderlich sein wird. Pro Partie nehmen
        mindestens vier SpielerInnen teil.
        <br><br>
        Die Aufgabe des/r Koordinators/In / Ansprechpartners/In ist es das
        Team auf dieser Seite anzumelden, Kontakt zu anderen Teams
        aufzunehmen, Spiele zu vereinbaren und die Ergebnisse von
        Heimspielen auf dieser Seite einzutragen.
    </li>

    <br>
    <li>Jede Mannschaft meldet mindestens einen Heimspielort an. Entweder
        privat oder in einem Lokal.</li>

    <br>
    <li>Wir empfehlen, zwölf Sätze zu spielen. Das ist ein überschaubarer
        Zeitrahmen. Ihr könnt Euch aber auch auf etwas anderes einigen, nur
        sollte die gewählte Satzzahl gerade sein, damit es zu Unentschieden
        kommen kann.

        <br><br>
        Punktevergabe:
        <br><br>

        <ul>
            <li>Jede Mannschaft, die antritt, bekommt einen Punkt. Damit
                werden „Vielspieler“ belohnt.</li>
            <li>Ein glatter Sieg bringt zusätzlich drei Punkte, der
                Verlierer geht leer aus.</li>
            <li>Bei Unentschieden erhält jede Mannschaft einen Punkt. Ein
                weiterer Punkt wird durch ein Entscheidungsspiel
                vergeben.</li>
        </ul>
        <br>

        Somit kann man mit einem Spiel ein, zwei, drei oder vier Punkte
        holen. Für die Tabelle zählen nur die Punkte. Bei Punktgleichheit
        am Ende gibt es Entscheidungsspiele.
        <br>
        Gespielt wird jeder Satz bis 6. Sonst keine Regeln. Alles zählt.
        Alles, was zum kickern gehört natürlich. Körperkontakt oder mit der
        Hand erzielte Tore oder so etwas wollen wir gar nicht diskutieren
        müssen. <b>Alles weitere müsst Ihr jeweils vor Ort klären, wenn Bedarf
        besteht.</b>
        </li>
        <br>

    <li>Die Saison sieht folgendermaßen aus:
        <br><br>

        <ul>
            <li>Start am 1. November (Saison 2022/2023 -> März 2023)</li>
            <br>

            <li>Spielen die “Meisterschaft” mit Hin- und Rückspiel. Jeweils
                hat eine Mannschaft dabei das Heimrecht.</li>
            <br>
            <li>Es gibt keine festen Spieltage! Jede Mannschaft hat eine(n)
                KoordinatorIn, deren Aufgabe es ist, mit den anderen
                KoordinatorenInnen stets flexibel zu Spielvereinbarungen zu
                kommen. Es liegt ja im Interesse der Mannschaften, alle
                Spiele abgemacht und bestritten zu haben, ansonsten gibt es
                halt für keines der beiden Teams die Punkte.</li>
            <br>
            <li>Am 1. November wird ein (flexibler) Stichtag zur Beendigung
                der Saison bekanntgegeben. (Saison 2022/2023 gilt es zu
                diskutieren...)</li>
        </ul>
        <br>

    <li>Handschuhe sind verboten.</li>
</ol>

{% endblock %}
