{% extends "base.html" %}

{% block content %}

<br/>
<h3 class="text-secondary">Neues Team anmelden</h3>

<div class="p-4" style="text-align: justify">
Jedes <b>Team</b> muss sich <b>einmal</b> anmelden. Hierzu ist eine E-Mail-Adresse
nötig und es muss ein Passwort eingegeben und bestätigt werden, das später
zusammen mit der E-Mail-Adresse zum Anmelden verwendet wird. Zudem muss ein
Team-Name und der Registrierungs-Code angegeben werden.
<br>
<br>
Wenn ihr ein anderes Team kontaktieren wollt, um ein Spiel zu verabreden,
klickt auf "Teams" und euch werden die Kontakt-Daten aller Teams angezeigt.
<br>
<br>
<b>Seid euch darüber bewusst, dass alle Leute die den Regisitrierungs-Code
    kennen (oder erraten) eure bei der Anmeldung angegebene
    Mail-Adresse und die unter TeamInfo angegebenen (Kontakt-)Daten
    einsehen können. </b> <br><br>

Der Registrierungs-Code ist ein ganz simpler Zugangs-Schutz, damit sich
nicht jeder Hans und Franz anmelden kann und unsere Liga voll spamen
und unsere Kontakt-Daten einsehen kann. Der Registrierungs-Code sollte ein
offenes Geheimnis in der Liga sein und von Mund zu Mund -- oder SMS zu SMS
-- weiter gegeben werden.<br>
D.h. ein neues Team muss in irgendeiner Form Kontakt zu einem bestehenden
Team bzw. Spieler der Liga haben und sollte von dem bestehenden Team /
Spieler den Registrierungs-Code erfahren, um sich dann damit anmelden zu
können.<br><br>
{% if current_user.is_authenticated %}
Der aktuelle Registrierungs-Code lautet:   <b>{{ registerCode }}</b>
{% else %}
Wenn du angemeldet bist, wird dir hier der aktuelle Registrierungs-Code angezeigt.
{% endif %}

<br><br>
<b>WICHTIG: Der Registrierungs-Code sollte nirgends
    (online) öffentlich zugänglich sein!</b>

</div>

{% endblock %}
