{% extends "base.html" %}

{% from "wklb/modals/teamInfo.jinja" import teamInfo, teamInfoLink %}

{% block content%}

{% for t in teamInfos %}
    {{ teamInfo(t, current_user) }}
{% endfor %}

<div class="table-responsive">
    <table class="table table-sm small rounded rounded-4 overflow-hidden caption-top table-hover table-light align-middle">
        <caption class="text-center"><h3>Tabelle</h3></caption>
        <thead class="text-muted small">
            <th>#</th> <th class="text-start">Team</th> <th>Spiele</th> <th class="right-border">Pkt</th> <th>S</th> <th>U+</th> <th>U(-)</th> <th>N</th> <th>Sätze</th> <th>D</th>
        </thead>
        <tbody>
                {% for t in table %}
                <tr>
                    <td><b>{{ table.index(t) + 1 }}</b></td>
                    <td class="text-start">
                        {{ teamInfoLink(t, current_user) }}
                    </td>
                    <td><b>{{ t.numberOfResults }}</b></td>
                    <td class="right-border"><b>{{ t.pts }}</b></td>
                    <td>{{ t.wins }}</td>
                    <td>{{ t.drawWins }}</td>
                    <td>{{ t.drawLoses }}</td>
                    <td>{{ t.loses }}</td>
                    <td>{{ t.wonSets }} : {{ t.lostSets }} </td>
                    <td>{{ t.wonSets - t.lostSets }} </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
