{% extends "base.html" %}

{% block content%}
<div class="table-responsive">
    <table class="table rounded rounded-4 overflow-hidden caption-top table-hover table-light">
        <caption class="text-center"><h3>Tabelle</h3></caption>
        <thead class="text-muted small">
            <th>#</th> <th class="text-start">Team</th> <th>Spiele</th> <th class="right-border">Pkt</th> <th>S</th> <th>U+</th> <th>U-</th> <th>N</th> <th>Sätze</th> <th>D</th>
        </thead>
        <tbody>
                {% for t in table %}
                <tr>
                    <td><b>{{ table.index(t) + 1 }}</b></td>
                    <td class="text-start">
                        <a class="link-primary" href={{ url_for("wklb.teamInfo", id=t.id) }}>
                            <b>{{ t.name }}</b>
                        </a>
                    </td>
                    <td><b>{{ t.numberOfResults }}</b></td>
                    <td class="right-border"><b>{{ t.pts }}</b></td>
                    <td>{{ t.wins }}</td>
                    <td>{{ t.drawWins }}</td>
                    <td>{{ t.drawLoses }}</td>
                    <td>{{ t.loses }}</td>
                    <td>
                        {% if t.wonSets != None %}
                            {{ t.wonSets }} : {{ t.lostSets }}
                        {% else %}
                            0 : 0
                        {% endif %}
                    </td>
                    <td>
                        {% if t.wonSets != None %}
                            {{ t.wonSets - t.lostSets }}
                        {% else %}
                            0
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
