{% extends "base.html" %}

{% from "utils.jinja" import errorBox %}

{% block content%}
    <h4>Ergebnis eintragen</h4>
    <form action="{{ request.path }}" method="POST">
        {{ form.csrf_token }}

        {{ errorBox(form.visiting_team_pts.errors) }}
        <table class="w-100 mb-1">
            <tbody>
                <tr>
                    <td> {{ home_team }} </td>
                    <td> : </td>
                    <td> {{ form.home_team_pts(class_="form-control",placeholder="0")}} </td>
                </tr>
                <tr>
                    <td> {{ form.visiting_team(class_="form-control",placeholder="Gast Mannschaft")}} </td>
                    <td> : </td>
                    <td> {{ form.visiting_team_pts(class_="form-control",placeholder="0")}} </td>
                </tr>
            </tbody>
        </table>

        {{ form.submit(class_="btn btn-primary") }}
    </form>
{% endblock %}
