{% extends "base.html" %}

{% block content%}

<div class="table-responsive">
    <table class="table table-sm small rounded rounded-4 overflow-hidden caption-top table-hover table-light text-start">
        <caption class="text-center">
            <h3>Teams</h3>
            <div class="text-dark bg-light rounded rounded-4">
                <b class="text-primary">
                    Alle Teams / Rund-Mail:
                </b>

                {% for t in teams %}
                    {{ t.user.email + ("," if teams.index(t) != teams.__len__()-1 else "") }}
                {% endfor %}
            </div>
        </caption>
        <thead class="text-muted small">
            <th class="text-center">Team</th> <th class="text-center">Info</th>
        </thead>
        <tbody>
                <tr>
                    <td class="align-middle">
                        <b class="text-primary">
                            {{ current_user.team.name }}
                        </b><br/>
                        <span class="text-dark small">
                            {{ current_user.team.user.email }}
                        </span>
                    </td>

                    <td class="text-start small align-middle">
                        <form class="text-start"
                              action={{ url_for("wklb.teams")}}
                              method="POST">
                            {{ form.csrf_token }}
                            {{ form.info(rows="3", class_="form-control text-dark mb-1",
                                            placeholder="weitere Kontakt-Infos, Heimspiel-Ort,...") }}
                            <div class="text-center p-1">
                                {{ form.submit(class_="btn btn-sm py-0 my-0 btn-primary") }}
                            </div>
                        </form>
                    </td>
                </tr>
                {% for t in teams %}
                {% if t.id != current_user.team.id %}
                <tr>
                    <td class="align-middle"><b class="text-primary">{{ t.name }}</b><br/>
                        <span class="text-dark small">{{ t.user.email }}</span>
                    </td>

                    <td class="text-start small align-middle">
                        {% for line in t.info.split("\n") %}
                            {{ line }}
                            {% if not loop.last %}
                                <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
