{% from "wklb/modalBase.jinja" import modal, endmodal, show_modal %}

<a href="#" {{show_modal("teamInfoEdit")}}>
    <span class=" text-end bi bi-pencil-fill text-primary" title="Bearbeiten"></span>
</a>

{{modal("teamInfoEdit", current_user.team.name)}}
    <form class="text-start" action={{ url_for("wklb.teams")}}
          method="POST">
        {{ form.csrf_token }}
        {{ current_user.email }}
        <br/><br/>
        {{ form.info(rows="5", class_="form-control mb-1",
                        placeholder="Team-Info: weitere Kontakt-Infos, Heimspiel-Ort,...") }}

        <div class="text-center">
            <button type="button"
                    class="btn btn-secondary btn-sm"
                    data-bs-dismiss="modal">Abbrechen</button>
            {{ form.submit(class_="btn btn-sm btn-primary") }}
        </div>
    </form>
{{endmodal()}}
