{% from "utils.jinja" import modal, endmodal, show_modal %}

{% macro deleteBox(id, team1_name, team2_name) -%}

    <a href="#" data-bs-toggle="modal" data-bs-target="#deleteBox{{id}}">
        <span class="bi bi-trash3-fill text-primary" title="Ergebnis löschen"></span>
    </a>

    {{modal("deleteBox" + id.__repr__(), "Spielergebnis löschen")}}
        <form action={{url_for("wklb.deleteResult", id=id)}} method="POST">
            Sind Sie sicher, dass Sie das Ergebnis des Spiels <b>{{
            team1_name }}</b> gegen <b>{{team2_name}}</b> löschen wollen?

            <br/><br/>
            <button type="button"
                    class="btn btn-secondary btn-sm"
                    data-bs-dismiss="modal">Abbrechen</button>
            <button type="submit"
                    class="btn btn-primary btn-sm">Ergebnis Löschen</button>
        </form>
    {{endmodal()}}

{%- endmacro %}
