<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <!-- Sweet alert Js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='wklb.css') }}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Ganz WildeKickerLigaBremen und umzu</title>
</head>

<body>
    <div class="container">
        <div class="row mx-0 my-4">
            <div class="col-lg-8 col-md-10 m-auto p-0 card">

                    <div class="card-header bg-light">
                        <div class="text-end">
                            {% if current_user.is_authenticated %}
                                <a class="link-secondary"
                                   href="{{url_for('wklb.teamInfo', id=current_user.team.id)}}">
                                    Team-Info
                                </a> |
                                <a class="link-secondary" href="{{url_for('auth.logout')}}">
                                    Ausloggen
                                </a>
                            {% else %}
                                <a class="link-secondary"
                                   href="{{url_for('auth.login')}}">
                                    Einloggen
                                </a> |
                                <a class="link-secondary"
                                   href="{{url_for('auth.register')}}">
                                    Neues Team Anmelden
                                </a>
                            {% endif %}
                        </div>
                        <div class="text-center p-3">
                            <h2 class="text-primary">
                                Ganz WildeKickerLigaBremen und umzu
                            </h2>

                            <a class="link-primary"
                               href="{{url_for('wklb.info')}}">
                                Info
                            </a> |
                            <a class="link-primary"
                               href="{{url_for('wklb.standings')}}">
                                Tabelle
                            </a> |
                            <a class="link-primary"
                               href="{{url_for('wklb.results')}}">
                                Ergebnisse
                            </a>
                            {% if current_user.is_authenticated %}
                               |
                                <a class="link-primary"
                                   href="{{url_for('wklb.submitResult')}}">
                                   Ergebnis eintragen
                                </a>
                            {% endif %}
                        </div>

                    </div>
                    <div class="text-center card-body">

                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="alert"
                                    aria-label="Close">
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}

                        <div>
                            {% block content%}
                            {% endblock %}
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 </body>
</body>

</html>
