{% extends "base.html" %}

{% block content%}
            <form action="{{ request.path }}" method="POST" class="card-body">
                {{ form.csrf_token }}

                <input type="hidden" value="{{ request.args.get('next') }}" name="next_page" id="next_page"/>

                <div class="form-group mb-3">
                    {{ form.email(class_="form-control",placeholder="E-Mail")}}
                </div>
                {% for error in form.email.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor%}
                <div class="form-group mb-3">
                    {{ form.password(class_="form-control",placeholder="Passwort")}}
                </div>
                {% for error in form.password.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> {% endfor%}
                {% if request.path == '/register/' %}
                <div class="form-group mb-3">
                    {{ form.cpassword(class_="form-control",placeholder="Passwort bestätigen")}}
                </div>
                {% for error in form.cpassword.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> {% endfor%}
                <hr/>
                <div class="form-group mb-3">
                    {{ form.teamname(class_="form-control",placeholder="Team-Name")}}
                </div>
                {% for error in form.teamname.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> {% endfor%}
                <div class="form-group mb-3">
                    {{ form.registerPassword(class_="form-control",placeholder="Registrierungs-Code")}}
                </div>
                {% endif %}
                <div class="text-center">

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-block btn-primary mb-3"> {{ btn_action }} </button>
                    </div>
                </div>
            </form>
{% endblock %}
