{% extends "base.html" %}

{% block content%}
<div>
    Die <b>Ganz Wilde Kicker Liga Bremen und umzu</b> ist der Versuch die <b><a
            href="https://wildekickerligabremen.wordpress.com/">Wilde Kicker
            Liga Bremen</a></b> wiederzubeleben. Die Idee ist an die früher
    bestehende Wilde Liga anzuknüpfen.
    <br>

    Hierzu soll diese Web-Anwendung benutzt werden, um den Spielbetrieb
    "automatisiert" abzuwickeln (ohne eine Person, die die Liga verwaltet /
    Ergebnise einträgt, ...).<br><br>

    Bei Problemen mit dieser Seite schickt bitte eine E-Mail an: wklbtool(at)gmail(punkt)com
    <hr>

    <h4 class="text-center">Registrierungs-Info</h4>
    <br>
    Jedes Team muss sich einmal registrieren. Hierzu ist eine E-Mail-Adresse
    nötig und es muss ein Passwort eingegeben und bestätigt werden, das später
    zusammen mit der E-Mail-Adresse zum Anmelden verwendet wird. Zudem muss ein
    Team-Name und der Registrierungs-Code angegeben werden.<br>
    Nachdem ihr euer Team registriert habt und euch angemeldet habt, könnt (und
    solltet) ihr unter "Team Info" zumindestens eure Kontakt-Daten angeben,
    damit andere Teams euch kontaktieren können, um Spiele zu vereinbaren.<br>
    <br>
    <b>Bzgl. Datenschutz: Seid euch darüber bewusst, dass eure unter TeamInfo
    angegebenen (Kontakt-)Daten so lala geschütz sind! Sie sind nicht
    öffentlich zugänglich, aber wenn da jemand wirklich rankommen will und
    bereit ist einen gewissen Aufwand zu betreiben, kann ich für nichts
    garantieren. Ausserdem hat natürlich jeder Zugriff der den
    Registrierungs-Code kennt.</b> <br><br>

    Der Registrierungs-Code ist ein ganz simpler Zugangs-Schutz, damit sich
    nicht jeder Hans und Franz registrieren kann und unsere Liga voll spamen
    und unsere Kontakt-Daten einsehen kann. Der Registrierungs-Code sollte ein
    offenes Geheimnis in der Liga sein und von Mund zu Mund -- oder SMS zu SMS
    -- weiter gegeben werden.<br>
    D.h. ein neues Team muss in irgendeiner Form Kontakt zu einem bestehenden
    Team bzw. Spieler der Liga haben und sollte von dem bestehenden Team /
    Spieler den Registrierungs-Code erfahren, um sich dann damit anmelden zu
    können.<br><br>
    <b>WICHTIG: Der Registrierungs-Code sollte nirgends
        (online) öffentlich zugänglich sein!</b>

    <br><br>

    <hr>
    <h4 class="text-center">Manifest / Regeln</h4><br>
    (dies ist im Großen und Ganzen eine Kopie von dem <a
        href="https://wildekickerligabremen.wordpress.com/manifest/">"alten
        Manifest"</a>)<br><br>

    <ol>
        <li>Alle dürfen ein Team für die Liga melden. Es muss pro Team ein(e)
            KoordinatorIn/AnsprechpartnerIn fest stehen. Ansonsten ist jedes Team
            offen. Es könnten also ständig SpielerInnen dazu kommen und gehen,
            es wird sich aber bestimmt herausstellen, dass eine gewisse
            Kontinuität sehr spaßförderlich sein wird. Pro Partie nehmen
            mindestens vier SpielerInnen teil.
            <br><br>
            Die Aufgabe des/r Koordinators/In / Ansprechpartners/In ist es das
            Team auf dieser Seite anzumelden, Kontakt zu anderen Teams
            aufzunehmen, Spiele zu vereinbaren und die Ergebnisse von
            Heimspielen auf dieser Seite einzutragen.
        </li>

        <br>
        <li>Jede Mannschaft meldet mindestens einen Heimspielort an. Entweder
            privat oder in einem Lokal.</li>

        <br>
        <li>Wir empfehlen, zwölf Sätze zu spielen. Das ist ein überschaubarer
            Zeitrahmen. Ihr könnt Euch aber auch auf etwas anderes einigen, nur
            sollte die gewählte Satzzahl gerade sein, damit es zu Unentschieden
            kommen kann.

            <br><br>
            Punktevergabe:
            <br><br>

            <ul>
                <li>Jede Mannschaft, die antritt, bekommt einen Punkt. Damit
                    werden „Vielspieler“ belohnt.</li>
                <li>Ein glatter Sieg bringt zusätzlich drei Punkte, der
                    Verlierer geht leer aus.</li>
                <li>Bei Unentschieden erhält jede Mannschaft einen Punkt. Ein
                    weiterer Punkt wird durch ein Entscheidungsspiel
                    vergeben.</li>
            </ul>
            <br>

            Somit kann man mit einem Spiel ein, zwei, drei oder vier Punkte
            holen. Für die Tabelle zählen nur die Punkte. Bei Punktgleichheit
            am Ende gibt es Entscheidungsspiele.
            <br>
            Gespielt wird jeder Satz bis 6. Sonst keine Regeln. Alles zählt.
            Alles, was zum kickern gehört natürlich. Körperkontakt oder mit der
            Hand erzielte Tore oder so etwas wollen wir gar nicht diskutieren
            müssen. Alles weitere müsst Ihr jeweils vor Ort klären, wenn Bedarf
            besteht.
            </li>
            <br>

        <li>Die Saison sieht folgendermaßen aus:
            <br><br>

            <ul>
                <li>Start am 1. November (Saison 2022/2023 -> März / April 2023)</li>
                <br>

                <li>Spielen die “Meisterschaft” mit Hin- und Rückspiel. Jeweils
                    hat eine Mannschaft dabei das Heimrecht.</li>
                <br>
                <li>Es gibt keine festen Spieltage! Jede Mannschaft hat eine(n)
                    KoordinatorIn, deren Aufgabe es ist, mit den anderen
                    KoordinatorenInnen stets flexibel zu Spielvereinbarungen zu
                    kommen. Es liegt ja im Interesse der Mannschaften, alle
                    Spiele abgemacht und bestritten zu haben, ansonsten gibt es
                    halt für keines der beiden Teams die Punkte.</li>
                <br>
                <li>Am 1. November wird ein (flexibler) Stichtag zur Beendigung
                    der Saison bekanntgegeben. (Saison 2022/2023 gilt es zu
                    diskutieren...)</li>
            </ul>
            <br>

        <li>Handschuhe sind verboten.</li>

        <br>
        <li>Wenn (ein) Lüder Meister wird, muss er ne riesen Sause schmeißen! 😉</li>

    </ol>
</div>
{% endblock %}
