{% extends "base.html" %}

{% block content%}
    <h4>{{ team.name }}</h4>
    {{ team.user.email }}

    <br>
    <br>

    {% if current_user.is_authenticated and current_user.id == team.user_id %}
        <form action="{{ request.path }}" method="POST">
            {{ form.csrf_token }}

            {{ form.info(rows="15", class_="form-control mb-1",
                        placeholder="Team-Info: weitere Kontakt-Infos, Heimspiel-Ort,...") }}

            {{ form.submit(class_="btn btn-primary") }}
        </form>
    {% else %}
        {% for line in team.info.split("\n") %}
            {{ line }}
            {% if not loop.last %}
                <br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
